# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Credentials
secret.json
credentials.json
token.json

output/
